.toggle-input {
    /* input 체크박스 가리기 */
    display: none;
}

.toggle-input:checked+label {
    /* 체크 시  배경색 */
    background: #4900ce;
    transition: 0.2s;
}

.toggle-input:checked+label>.ball {
    /* 체크 시 원 색상 */
    background: white;

    /* 체크 시 이동 애니메이션 */
    transform: translateX(30px);
    transition: transform 0.2s linear;
}

.toggle-label {
    /* 토글 버튼 */
    width: 60px;
    height: 30px;
    border-radius: 50px;
    margin-bottom: 10px;

    background: #eee;

    cursor: pointer;
}

.ball {
    /* 색상 및 크기 */
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: white;

    /* 볼 위치 */
    position: relative;
    top: 2px;
    left: 2px;

    /* 볼 이동 */
    transition: transform 0.2s linear;
}